<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Proyecto Unidad 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/stylepage.css">
</head>

<body>
    <section>
        <!--Degradado de colores centrales-->
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>

        <div class="container">
            <header>
                <a href="#" class="logo">Proyecto</a>
                <ul>
                    <!--Lista horizontal de la pagina principal-->
                    <li><a href="./index.html" class="activo">Inicio</a></li>
                    <li><a href="#">Información</a></li>
                    <li><a href="./game.html">Juego</a></li>
                    <li><a href="#">Equipo de trabajo</a></li>
                </ul>
            </header>
            <!--Contenido del cuerpo de la pagina principal-->
            <div class="contenido">
                <h2>Misión </h2>
                <P>La misión de una empresa es la descripción de lo que una compañía trata de hacer por sus clientes en
                    la actualidad. Ese propósito debe responder a ciertas preguntas: «¿Quiénes somos?, ¿qué hacemos? y
                    ¿por qué estamos aquí?»</P>
                <a href="#">Más Información</a>
            </div>
            <div class="img">
                <img src="./static/resources/images/jefebebe.png">
            </div>
            <!--
            <ul class="iconos">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
            -->
        </div>
    </section>
</body>

</html>